/********************************Mobile Assumed********************************/
body {
    min-height: 100vh;  /* needed to make sure body fills up window */
}
header {
  display: none;
}
main {
  /*font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex:  0 1 auto;*/
}
/***********************************Tablet*************************************/
@media screen and (min-width: 480px) {
  body {
      min-height: 100vh;  /* needed to make sure body fills up window */
  }
  header {
    display: none;
  }
  main {
    /*font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex:  0 1 auto;*/
  }
}
 /****************************Standard Web*************************************/
@media screen and (min-width: 780px) {
  body {
      min-height: 100vh;  /* needed to make sure body fills up window */
  }
  header {
    display: none;
  }
  main {
    /*font-family: montserrat, sans-serif; font-weight: 200; font-style: normal;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex:  0 1 auto;*/
  }
}
